.choose{
	width: 900px;
	height: 300px;
	text-align: center;
	margin: auto;
}
.btn{
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: #999;
	border: 1px solid #ccc;
	border-radius:10px ;
	text-align: center;
	line-height: 40px;
}
/*设置按钮选择样式*/
/*for 元素选择器绑定label*/
#front:checked ~ .choose [for="front"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#back:checked ~ .choose [for="back"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#left:checked ~ .choose [for="left"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#right:checked ~ .choose [for="right"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#top:checked ~ .choose [for="top"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#bottom:checked ~ .choose [for="bottom"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#big:checked ~ .choose [for="big"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
#small:checked ~ .choose [for="small"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px skyblue;
	
}
/*设置按钮切换功能  未实现*/
#front:checked ~ .lifang{
	transform: rotate3d(0,0,0,0deg);
}
#back:checked ~ .lifang{
	transform: rotate3d(0,1,0,180deg);
}
#right:checked ~ .lifang{
	transform: rotate3d(0,1,0,-90deg);
}
/*设置按钮缩放功能*/
/*#big:checked ~ .lifang{
	transform: scale(2) rotate3d(1,0,0,90deg);
}
#small:checked ~ .lifang{
	transform: scale(0.5) rotate3d(1,0,0,-90deg);
}*/
#big:checked ~ .lifang{
	transform: translateZ(500px) rotate3d(1,0,0,90deg);
}
#small:checked ~ .lifang{
	transform: translateZ(-500px) rotate3d(1,0,0,-90deg);
}